html * {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-family: 'Source Sans Pro', sans-serif;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #242424;
}

.nav-link {
  font-size: 24px;
  line-height: 30px;
  color: #7F785A;
  text-decoration: none;
}

.nav-link:hover {
  color: #ffffff;
}

.nav-link.active {
  color: #ffffff;
}

span i {
  size: 48px;
  transition: color .15s ease;
  color: #615c45;
  text-shadow: 0 0 1px #171717;
}

span i:hover {
  color: #ffffff;
}

.fa-spin {
  --fa-animation-duration: 1s; 
  --fa-animation-iteration-count: 1;
  --fa-animation-timing: ease-in-out;
}

#speed {
  font-size: 20px;
}
