@{
    ViewData["Title"] = "О проекте";
}

<div class="about-container ms-5">
    <div><img src="/fulllogo.png" height="500px" alt="" style="display: block;margin: 0 auto;"></div>
    <div class="row mt-2">
        <h1>Описание идеи</h1>
        <p>Эксперимент по созданию «искусственной жизни» на компьютере. Смысл такого эксперимента заключается в создании 
            виртуальной среды, частично имитирующей реальные условия, и запуске в неё простейших  организмов (ботов). Боту 
            предстоит адаптироваться и выжить в данном мире.  Дальше в работу вступают такие процессы, как эволюция и 
            естественный  отбор. Остается только наблюдать и предполагать об ожидаемых исходах.</p>
    </div>
    <div class="row mt-2">
        <h1>Исходный код</h1>
        <p>Как всегда, в свободном доступе на <a href="https://github.com/thewyolar/CyberLife">github</a>.</p>
    </div>
</div>