@model Map

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Сетка</title>
    <link rel="stylesheet" href="~/css/grid.css">
</head>
<body>
<div class="scrol">
    <div class="grid">
        @for (int i = 0; i < Model.mapTypes.Length; i++)
        {
            <div> @i </div>}
    </div>
</div>
</body>
</html>