@model Map
@Html.AntiForgeryToken()
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Сетка</title>
    <link rel="stylesheet" href="~/css/grid.css">
    <script src="~/js/Aja.js"></script>
    <script src="~/lib/Ajax/jquery-3.6.1.js"></script>
    <script src="~/lib/Ajax/jquery.unobtrusive-ajax.js"></script>
</head>
<body>
<div class="scrol">
    <div><button onClick="myScript()">Ano</button></div>
    <div><button onClick="neMyScript()">neAno</button></div>
    <div id="gr" class="grid">
    </div>
</div>
</body>
</html>