@model Map
@{
    Layout = null;
}
@for (int i = 0, j = 0, k = 0; i < Model.mapTypes.Length; i++)
{

    <div>
        @if (Model.bots[j, k] is not null)
        {
            <div id="bot">@i</div>
        }
    </div>
    if (j == (Model.mapTypes.GetLength(0)) - 1)
    {
        j = 0;
        k++;
    }
    else
    {
        j++;
    }
}