@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="modal" data-bs-target="#mapParameterModal" id="mapParameter" onclick="">SetMapParameters</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="modal" data-bs-target="#mapListModal" id="mapList" onclick="getAllMaps()">MapList</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="modal" data-bs-target="#botListModal" id="botList" onclick="getAllBot()">BotList</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Настройки аккаунта">
                <i class="fa-regular fa-circle-user"></i>
                @* @User.Identity?.Name *@
            </a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("About", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link" title="Выход">
                    <i class="fa-solid fa-right-from-bracket"></i>
                </button>
            </form>
        </li>
    }
    else
    {
        @* <li class="nav-item"> *@
        @*     <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Регистрация</a> *@
        @* </li> *@
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">
                <i class="fa-regular fa-circle-user"></i>
            </a>
        </li>
    }
</ul>
<div id="botListModal" class="modal fade" tabindex="-1" aria-labelledby="botModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title" id="botModalLabel">Список сохраненных ботов</h5>
                <button type="button" class="btn-close bg-danger" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <div class="input-group rounded mb-3">
                    <input type="search" class="form-control rounded" placeholder="Поиск" aria-describedby="search-bots-icon" id="botNameFilter" />
                    <span class="input-group-text border-0 bg-dark" id="search-bots-icon" onclick="getFilteredBots()">
                        <i class="fas fa-search"></i>
                    </span>
                </div>
                <div id="botListModalBody"></div>
            </div>
        </div>
    </div>
</div>
<div id="mapListModal" class="modal fade" tabindex="-1" aria-labelledby="mapModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title" id="mapModalLabel">Список сохраненных карт</h5>
                <button type="button" class="btn-close bg-danger" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <div class="input-group rounded mb-3">
                    <input type="search" class="form-control rounded" placeholder="Поиск" aria-describedby="search-maps-icon" id="mapNameFilter" />
                    <span class="input-group-text border-0 bg-dark" id="search-maps-icon" onclick="getFilteredMaps()">
                        <i class="fas fa-search"></i>
                    </span>
                </div>
                <div id="mapListModalBody"></div>
            </div>
        </div>
    </div>
</div>
<div id="mapParameterModal" class="modal fade" tabindex="-1" aria-labelledby="mapParameter" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-sm">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title" id="mapParameterLabel">Создание карты</h5>
                <button type="button" class="btn-close bg-danger" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body" id="mapParameterBody">
                <form id="formMapParameter">
                    <div class="mb-2">
                        <label for="width">Ширина карты</label>
                        <input id="width" type="number" class="form-control"/>
                    </div>
                    <div class="mb-2">
                        <label for="height">Высота карты</label>
                        <input id="height" type="number" class="form-control"/>
                    </div>
                    <div class="mb-2">
                        <label for="widthBiome">Ширина биома</label>
                        <input id="widthBiome" type="number" class="form-control"/>
                    </div>
                    <div class="mb-2">
                        <label for="sizeBiome">Размер биома (в клетках)</label>
                        <input id="sizeBiome" type="number" class="form-control"/>
                    </div>
                    <div class="mb-2">
                        <label for="botSpawnChance">Вероятность спавна ботов</label>
                        <input id="botSpawnChance" type="number" class="form-control"/>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="setMapParameters()">Создать</button>
                </form>
            </div>
        </div>
    </div>
</div>
